<h2>Current Ingredients</h2>
<h3>click to remove</h3>
<% if !@supplies.blank? %>
  <% @supplies.each do |supply| %>
    <%= link_to supply.name, supply_delete_path(supply), :method => 'delete', :remote => true %>
  <%end%>
<%end%>
