  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bourbon";
// $visual-grid: true !default;

@import "neat";
@import "base/base";
@import "search";
@import "flashmessages";
@import "navigation";
@import "ingredients";

html {
  background: asset_url("chopping-board-texture.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: $helvetica;
  margin: 10px;
  color: white;

  a {
    color: yellow;
  }

  main {
    @include outer-container();
  }
}

#supplies {
  width: 600px;

  li {
    display: inline;

    a {
      @include button(#555);
      border-radius: 15px;
      @include padding(2px 10px 2px null);
    }
  }

  span {
    padding-left: 10px
  }
}

#usercontrol {
  text-align: right;
  @include padding(5px 20px null null)
}

@mixin panel() {
  background-color: rgba(4,4,4,.6);
  width: 400px;
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;

  h2 {
    font-size: 36px;
  }
}

form {
  margin: 0 auto;
}

.login_form {
  @include span-columns(12);
  @include shift(2);
  margin-top: 20vh;

  img {
    @include span-columns(3);
    margin: 20px;
    height: 416px;
    width: auto;
  }
}

form#new_user {
  @include span-columns(9);
  @include omega();
  @include panel;
}

form.edit_ingredient {
  @include panel;
  width: 75%;
}

form.new_ingredient {
  @include panel;
  width: 75%;
}

#test {
  @include span-columns(12);

  article {
    @include span-columns(2 of 12);
    // @include omega(4n);
    background-color: black;
    border: 2px solid green;
    height: 55px;
  }
}
